

<div class="show-container container">
<div class="card" >
  <div class="card-body">
    <h3 class="card-title">Movie: {{movies.title}}</h3>
    <h3 class="card-subtitle mb-2 text-muted">Director: {{movies.director}}</h3>
    <h4 class="card-text">Year: {{movies.year}}</h4>
    <h4 class="card-text">Duration: {{movies.duration}}</h4>
    <h4 class="card-text">Rate: {{movies.rate}}</h4>
    <h3>Celebrities:</h3><h4><ul>
    <li>{{movies.celebrity.[0].name}}</li>
    <li>{{movies.celebrity.[1].name}}</li>
    <li>{{movies.celebrity.[2].name}}</li>
    <li>{{movies.celebrity.[3].name}}</li>
    <li>{{movies.celebrity.[4].name}}</li>
    <li>{{movies.celebrity.[5].name}}</li>
    </ul></h4>
  </div>
</div>

</div>

